<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>18/09/09 14:20:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestBadRequest()[pri:0, instance:RestAutomation.PostCustomer@9629756]">testRequestBadRequest</td> 
  <td>main@1757676444</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/09/09 14:20:22</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestJSON()[pri:0, instance:RestAutomation.GetCustomer@50c87b21]">testRequestJSON</td> 
  <td>main@1757676444</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/09/09 14:20:22</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestNotFound()[pri:0, instance:RestAutomation.GetCustomer@50c87b21]">testRequestNotFound</td> 
  <td>main@1757676444</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>18/09/09 14:20:21</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestStatus()[pri:0, instance:RestAutomation.PostCustomer@9629756]">testRequestStatus</td> 
  <td>main@1757676444</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/09/09 14:20:22</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestStatus()[pri:0, instance:RestAutomation.GetCustomer@50c87b21]">testRequestStatus</td> 
  <td>main@1757676444</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>18/09/09 14:20:21</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestUnauthorized()[pri:0, instance:RestAutomation.PostCustomer@9629756]">testRequestUnauthorized</td> 
  <td>main@1757676444</td>   <td></td> </tr>
</table>
