<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>RestAutomation.PostCustomer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testRequestBadRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRequestStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRequestUnauthorized</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>RestAutomation.GetCustomer</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testRequestStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRequestJSON</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRequestNotFound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRequestValidData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
