<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>18/09/09 14:30:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GetCustomer.init(java.lang.String)[pri:0, instance:RestAutomation.GetCustomer@1810399e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>18/09/09 14:30:32</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;PostCustomer.init(java.lang.String, java.lang.String)[pri:0, instance:RestAutomation.PostCustomer@735b5592]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>18/09/09 14:30:32</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestBadRequest()[pri:0, instance:RestAutomation.PostCustomer@735b5592]">testRequestBadRequest</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>18/09/09 14:30:37</td>   <td>5174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestJSON()[pri:0, instance:RestAutomation.GetCustomer@1810399e]">testRequestJSON</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>18/09/09 14:30:38</td>   <td>6004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestNotFound()[pri:0, instance:RestAutomation.GetCustomer@1810399e]">testRequestNotFound</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>18/09/09 14:30:36</td>   <td>3431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestStatus()[pri:0, instance:RestAutomation.PostCustomer@735b5592]">testRequestStatus</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>18/09/09 14:30:39</td>   <td>6835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestStatus()[pri:0, instance:RestAutomation.GetCustomer@1810399e]">testRequestStatus</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>18/09/09 14:30:36</td>   <td>4323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostCustomer.testRequestUnauthorized()[pri:0, instance:RestAutomation.PostCustomer@735b5592]">testRequestUnauthorized</td> 
  <td>main@94345706</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>18/09/09 14:30:40</td>   <td>7942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetCustomer.testRequestValidData(java.lang.String)[pri:0, instance:RestAutomation.GetCustomer@1810399e]">testRequestValidData</td> 
  <td>main@94345706</td>   <td></td> </tr>
</table>
